@font-face {
    font-family: 'ItalianPlateNoTwo-Bd';
    src: url('../fonts/ItalianPlateNoTwo-Bd.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-BdItalic';
    src: url('../fonts/ItalianPlateNoTwo-BdItalic.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-BlkItalic';
    src: url('../fonts/ItalianPlateNoTwo-BlkItalic.otf');
}


@font-face {
    font-family: 'ItalianPlateNoTwo-DBd';
    src: url('../fonts/ItalianPlateNoTwo-DBd.otf');
}

@font-face {
    font-family: 'ItalianPlateNoTwo-DBdItalic';
    src: url('../fonts/ItalianPlateNoTwo-DBdItalic.otf');
}

@font-face {
    font-family: 'ItalianPlateNoTwo-Lt';
    src: url('../fonts/ItalianPlateNoTwo-Lt.otf');
}

@font-face {
    font-family: 'ItalianPlateNoTwo-LtItalic';
    src: url('../fonts/ItalianPlateNoTwo-LtItalic.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-Md';
    src: url('../fonts/ItalianPlateNoTwo-Md.otf');
}

@font-face {
    font-family: 'ItalianPlateNoTwo-MdItalic';
    src: url('../fonts/ItalianPlateNoTwo-MdItalic.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-Tn';
    src: url('../fonts/ItalianPlateNoTwo-Tn.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-TnItalic';
    src: url('../fonts/ItalianPlateNoTwo-TnItalic.otf');
}

@font-face {
    font-family: 'ItalianPlateNoTwo-ULt';
    src: url('../fonts/ItalianPlateNoTwo-ULt.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-ULtItalic';
    src: url('../fonts/ItalianPlateNoTwo-ULtItalic.otf');
}

@font-face {
    font-family: 'ItalianPlateNoTwo-XBd';
    src: url('../fonts/ItalianPlateNoTwo-XBd.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-XBdItalic';
    src: url('../fonts/ItalianPlateNoTwo-XBdItalic.otf');
}
@font-face {
    font-family: 'ItalianPlateNoTwo-XLt';
    src: url('../fonts/ItalianPlateNoTwo-XLt.otf');
}

@font-face {
    font-family: 'ItalianPlateNoTwo-XLtItalic';
    src: url('../fonts/ItalianPlateNoTwo-XLtItalic.otf');
}
/* ---------------------- */


@font-face {
    font-family: 'proximanova-black';
    src: url('../fonts/proximanova-black.otf');
}

@font-face {
    font-family: 'proximanova-blackit';
    src: url('../fonts/proximanova-blackit.otf');
}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proximanova-bold.otf');
}

@font-face {
    font-family: 'proximanova-boldit';
    src: url('../fonts/proximanova-boldit.otf');
}

@font-face {
    font-family: 'proximanova-extrabold';
    src: url('../fonts/proximanova-extrabold.otf');
}

@font-face {
    font-family: 'proximanova-extraboldit';
    src: url('../fonts/proximanova-extraboldit.otf');
}

@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proximanova-light.otf');
}

@font-face {
    font-family: 'proximanova-lightit';
    src: url('../fonts/proximanova-lightit.otf');
}

@font-face {
    font-family: 'proximanova-medium';
    src: url('../fonts/proximanova-medium.otf');
}

@font-face {
    font-family: 'proximanova-mediumit';
    src: url('../fonts/proximanova-mediumit.otf');
}

@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular.otf');
}

@font-face {
    font-family: 'proximanova-semibold';
    src: url('../fonts/proximanova-semibold.otf');
}


